[Journal]
SystemMaxUse={{ systemd_max_logs_disk_space }}
MaxFileSec={{ systemd_max_file_sec }}
Storage={{ systemd_storage }}
RuntimeMaxUse={{ systemd_runtime_max_use }}
Compress={{ systemd_compress }}
SyncIntervalSec={{ systemd_sync_interval }}
ForwardToConsole={{ systemd_forward_to_console }}
ForwardToSyslog={{ systemd_forward_to_syslog }}
